
/* ESTILOS PARA COMPUTADORAS Y PANTALLAS GRANDES */
@media (min-width: 768px) {

    header {
        background-image: url("imgs/Central/imagenCentral.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .navbar {
        background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)); 
        width: 100%;
        /* rgba(0, 0, 0, 0.7) */
    }
    
    .navbar a {
        color: rgb(214, 212, 212); 
    }
    
    .navbar a:hover {
        color: rgb(190, 150, 103);
    }
    
    .header-text{
        width: 50%;
        align-content: end;
        margin-left: auto;
        color: rgb(214, 212, 212); 
        padding-top: 10%;
        padding-bottom: 8%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .header-text h1{
        font-weight: lighter;
        padding-bottom: 5%;
    }

    .header-text P{
        padding-bottom: 10%;
    }

    .boton-conocenos{
        opacity: 0.6;
        border-radius: 30px;
        height: 60px;
        width: 200px;
        color: white;
        display: block; /* Hace que el botón ocupe todo el ancho disponible */
        /* margin: 20px auto 0 auto;  */
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }

    .titulo-productos{
        background-color: rgb(87, 87, 87);
        color: white;
        height: 80px;
        display: flex; /* Activa flexbox en el contenedor */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; 
    }

    .titulo-productos h3{
        text-align: center;
        margin: 0; /* Elimina márgenes adicionales del h3 */
        
    }

    .dulces {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 columnas de igual tamaño */
        grid-template-rows: repeat(3, 1fr);    /* 2 filas de igual tamaño */
        /*gap: 20px; Espacio entre las casillas */
        /* padding: 20px; Opcional: espacio alrededor de la sección */
        background-color: black;
    }
    
    .casilla {
        /* border: 1px solid #ccc;  */
        height: 350px; /* Altura de las casillas */
        display:flexbox;
        justify-content: center;
        align-items: center;
        /* font-size: 1.25rem; Ajusta según sea necesario */
        color: white;
        
    }

    #casilla1{
        background-image: url("imgs/Productos/Producto1.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #casilla4{
        background-image: url("imgs/Productos/Producto2.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #casilla5{
        background-image: url("imgs/Productos/Producto3.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .casilla h3{
        font-weight: lighter;
        padding-top: 8%;
        padding-bottom: 5%;
        text-align: center;
        color: rgb(190, 150, 103);
    }

    .casilla p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
    }

    .epigrafe{
        padding-bottom: 5%;
        font-weight: bold;
        color: rgb(190, 150, 103);
    }

    .boton-info{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: rgb(190, 150, 103);
        border-color: rgb(190, 150, 103);
    }

    .boton-info:hover{
        color: black;
        border-color: black;
        background-color: rgb(190, 150, 103);
        /* rgb(190, 150, 103);; */
    }

    .alfajores-maicena{
        display: flex;
        justify-content: space-between; /* Distribuye espacio entre los contenedores hijos */
        align-items: center; /* Alinea verticalmente los elementos en el centro */
        height: 350px;
        background-color: rgb(184, 155, 112);
    }

    .alfajores-descripcion{
        display: inline-block;
        width: 50%;
        text-align: center;
    }    

    .alfajores-descripcion h3{
        color: rgb(131, 95, 19);
        font-weight: lighter;
        padding-bottom: 3%;
    }
    

    #texto-descripcion-alfajores{
        text-align: left; /* Alinea el texto a la izquierda */
        margin: 0 auto; /* Opcional: centra el bloque de texto, si no es ancho completo */
        width: 75%;
        color: white;
        padding-bottom: 3%;
    }

    #epigrafe-alfajores{
        text-align: left; /* Alinea el texto a la izquierda */
        margin: 0 auto; /* Opcional: centra el bloque de texto, si no es ancho completo */
        width: 75%;
        font-weight: bold;
        color: rgb(92, 67, 14);
        padding-bottom: 7%;
    }

    .boton-alfajores{
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: black;
        border-color: black;
        background-color: rgb(184, 155, 112);
    }

    .boton-alfajores:hover{
        background-color: black;
        color: rgb(190, 150, 103);
        border-color: rgb(190, 150, 103);
    }

    .alfajores-imagen {
        display:flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;     /* Centra verticalmente */
        width: 49%;
        height: 100%; /* Asegura que el contenedor `.alfajores-imagen` use toda la altura disponible */
    }
    
    .alfajores-imagen img {
        width: 350px;
        height: 300px;
        object-fit: contain; /* Asegura que la imagen mantenga su proporción si las dimensiones del contenedor cambian */
    }
    

}

/* ESTILOS PARA TABLETAS Y DISPOSITIVOS MOVILES */
@media (max-width: 767px) {}
